*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-primary: #ffffff;
	--color-secondary: #1a1a1a;
	--color-orange: #ff6900;
	--color-red: #ff2a2a;
	--color-green: #008000;
}
img{
    max-width:100%;
    position: relative;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.debug{
    border: 1px solid rgb(0, 0, 0);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}
a{
    display: block;
    padding: 10px 12px 10px 0px;
    text-decoration: none;
    color: var(--color-primary);
}
/* flexbox */
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.f-center{
    justify-content: center;
}
/* header */
header{
    background-color: var(--color-orange);
    color: var(--color-primary);
    height: 70px;
}
nav{
    height: 100%;
}

.logo-box{
    max-width: 100px;
}



/* main */
.macro-box{
    margin-top: 40px;
    align-content: space-around;
    align-items: flex-start
}
.box{
    max-width: 33%;
    padding: 10px 5px;
    margin-bottom: 30px;
}
.text-img{
    padding-top: 5px;
}
.small-font{
    font-size: 0.7em;
}
.price{
    color: var(--color-red);
}
span{
    color: black;
    text-decoration:line-through;
}
.colored-boxes{
    position: absolute;
    max-width: 150px;
    margin-bottom: 300px;
}
.red-box{
    background-color: var(--color-red);
    color: var(--color-primary);
    margin-right: 3px;
    padding: 4px 6px;
}
.green-box{
    background-color: var(--color-green);
    color: var(--color-primary);
    padding: 4px 6px;
}

/* footer */